<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>历史记录</title>

<!-- Bootstrap core CSS -->
<link rel="shortcut icon" th:href="@{favicon.ico}">
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{css/datatables.bootstrap4.min.css}" rel="stylesheet">
<link th:href="@{css/main.css}" rel="stylesheet">
</head>
<body>
	<input type="hidden" id="baseURL"
		th:value="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':'
		+ #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath() + '/'}" />
	<input type="hidden" id="key" th:value="${key}" />
	<input type="hidden" id="type" th:value="${type}" />
	<input type="hidden" id="viewDetails" th:value="#{tx.view.details}" />
	<div class="wrapper">
		<header class="header-top">
			<nav class="navbar navbar-light bg-light">
				<div class="container">
					<a
						th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':'
		+ #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath() + '/'}"
						class="navbar-brand router-link-exact-active router-link-active"
						style="font-size: 32px; color: #606060"><img
						th:src="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':'
		+ #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath() + '/' + logo}"
						width="40" height="40"
						style="margin-right: 10px; margin-top: -6px;" alt=""
						class="d-inline-block"> <label th:text="${title}"></label> </a>
					<form class="form-inline" style="width: 40%;">
						<input type="search" th:placeholder="#{index.search.placeholder}"
							aria-label="Search" class="form-control mr-sm-2 col-sm-9"
							id="query">
						<button type="button" class="btn btn-outline-success my-2 my-sm-0"
							onclick="performSearch()" th:text="#{index.search}"></button>
					</form>

					<a th:href="${hyperledgerExplorerUrl}"><img
						th:src="@{img/hyperledger_explorer.svg}" width="150" height="32"
						alt="#{index.hyperledger.explorer.title}" data-toggle="tooltip"
						title="#{index.hyperledger.explorer.title}"></a>
				</div>
			</nav>
		</header>
		<div class="main-content">
			<div class="container">
				<nav class="breadcrumb-container"
					style="margin-top: 10px; margin-bottom: -30px;">
					<ol class="breadcrumb bg-white">
						<li class="breadcrumb-item"><a th:href="@{/}"><img
								th:src="@{img/home.png}" class="image" th:text="#{index.title}">
						</a></li>
						<li class="breadcrumb-item active" aria-current="page"
							th:text="#{index.breadcrumb.blockchain}"></li>
						<li class="breadcrumb-item" th:text="#{index.breadcrumb.history}"></li>
					</ol>
				</nav>
				<div class="row">
					<div class="col-sm-12">
						<div>
							<div class="card mt-3">
								<div class="card-header bg-fabric text-center text-white">
									<label th:text="#{history.title}"></label>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><div class="row">
											<div class="col-sm-3">
												<strong>Key</strong>
											</div>
											<div class="col-sm-9">
												<code id="keyValue"> </code>
											</div>
										</div></li>
								</ul>
							</div>
							<div class="card mt-3">
								<div class="card-header bg-fabric text-center text-white">
									<label th:text="#{history.table}"></label>
								</div>
								<table class="table table-styled " style="width: 100%"
									id="dataTable">
									<thead>
										<th>#</th>
										<th th:text="#{history.table.id}"></th>
										<th th:text="#{history.table.time}"></th>
										<th th:text="#{history.table.delete}"></th>
									</thead>
								</table>
							</div>
						</div>

						<div class="row mt-3 justify-content-center">
							<a class="btn btn-primary"
								th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':'
		+ #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath() + '/'}"><label
								th:text="#{back}"></label></a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<footer class="footer bg-light">
			<div class="container">
				<div class="row justify-content-center">
					<span class="copyright" style="color: #606060"><label
						th:text="#{copyright}"></label> <label th:text="${copyright}"></label>
					</span>
				</div>
			</div>
		</footer>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/datatables.min.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/history.js}"></script>
</body>

</html>
